<div class="page-header">
	<div class="row">
		<div class="col-sm-12">
			<div class="tabbable">
				<ul class="nav nav-tabs " id="myTab">
					<li ng-class="{ active: isSet(1) }">
						<a href ng-click="setTab(1)">
							<i class="green ace-icon fa fa-pencil-square-o"></i>
							Pre Entrevista
						</a>
					</li>

					<li ng-class="{ active: isSet(2) }">
						<a href ng-click="setTab(2)">
							Entrevista
							<i class="blue ace-icon fa fa-inbox"></i>
						</a>
					</li>

					<li ng-class="{ active: isSet(3) }">
						<a href ng-click="setTab(3)">
							Post Entrevista
							<i class="pink ace-icon fa fa-thumbs-o-up"></i>
						</a>
					</li>
				</ul>
				<div class="tab-content">
					<div ng-show="isSet(1)">
						<!--Empezando con los datos de los invitados/Row primero-->
						<div class="row">
							<div class="col-sm-4">
							<h3 class="bigger-175 green">Estado de Entrevista: Aceptado</h3>
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Contactado por: </div>

										<div class="profile-info-value">
											<span class="editable" id="contactado_por">Nombre</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Fecha: </div>

										<div class="profile-info-value">
											<span class="editable" id="fecha">2010/06/20</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Hora: </div>

										<div class="profile-info-value">
											<span class="editable" id="horauno">12:00</span>
										</div>
									</div>
									<div class="profile-info-row">
										<div class="profile-info-name"> Forma: </div>

										<div class="profile-info-value">
											<span class="editable" id="forma">Forma</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Contactado con: </div>

										<div class="profile-info-value">
											<span class="editable" id="contactado_con">Nombre</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
							<h3 class="bigger-175 green">Preconfirmado</h3>
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Preconfirmado por: </div>

										<div class="profile-info-value">
											<span class="editable" id="preconfirmado_por">Nombre</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Fecha: </div>

										<div class="profile-info-value">
											<span class="editable" id="fecha2">2010/06/20</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Hora: </div>

										<div class="profile-info-value">
											<span class="editable" id="hora2">12:00</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Forma: </div>

										<div class="profile-info-value">
											<span class="editable" id="forma2">Forma</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Preconfirmado con: </div>

										<div class="profile-info-value">
											<span class="editable" id="preconfirmado_con">Nombre</span>
										</div>
									</div>
								</div>
							</div>
							<div class="col-sm-4">
							<h3 class="bigger-175 green">Confirmado</h3>
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Confirmado por: </div>

										<div class="profile-info-value">
											<span class="editable" id="confirmado_por">Nombre</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Fecha: </div>

										<div class="profile-info-value">
											<span class="editable" id="fecha3">2010/06/20</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Hora: </div>

										<div class="profile-info-value">
											<span class="editable" id="hora3">12:00</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Forma: </div>

										<div class="profile-info-value">
											<span class="editable" id="forma3">Forma</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Confirmado con: </div>

										<div class="profile-info-value">
											<span class="editable" id="confirmado_con">Nombre</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
							<h3 class="bigger-175 green">Datos del Invitado:</h3>
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Invitado: </div>

										<div class="profile-info-value">
											<span class="editable" id="nombre_invitado">Nombre Invitado</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Contacto: </div>

										<div class="profile-info-value">
											<span class="editable" id="nom_contacto">Nombre Contacto</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Inst/Empresa: </div>

										<div class="profile-info-value">
											<span class="editable" id="inst_empresa">Nombre Empresa</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Teléfono 1: </div>

										<div class="profile-info-value">
											<span class="editable" id="telefono1">+593-0968265276</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Teléfono 2: </div>

										<div class="profile-info-value">
											<span class="editable" id="telefono2">+593-0968265276</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Teléfono 3: </div>

										<div class="profile-info-value">
											<span class="editable" id="telefono3">+593-0968265276</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<h3 class="bigger-175 green">Temas a Tratar:</h3>
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Principal: </div>

										<div class="profile-info-value">
											<span class="editable" id="tema_prin">Tema Principal</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Secundario: </div>

										<div class="profile-info-value">
											<span class="editable" id="tema_secu">Tema Secundario</span>
										</div>
									</div>
								</div>
							</div>

							<div class="col-sm-6">
								<h3 class="bigger-175 green">Asistentes Adicionales:</h3>
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Nombre1: </div>

										<div class="profile-info-value">
											<span class="editable" id="nom_asis1">Nombre</span>
										</div>
									</div>

									<div class="profile-info-row">
										<div class="profile-info-name"> Nombre2: </div>

										<div class="profile-info-value">
											<span class="editable" id="nom_asis2">Nombre</span>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div ng-show="isSet(2)">
						<div class="row">
							<div class="col-sm-6">
								<h3 class="bigger-175 green">Preguntas Tema 1:</h3>
									<div class="profile-user-info profile-user-info-striped">
										<div class="profile-info-row">

											<div class="profile-info-value">
												<span class="editable" id="contactado_por">...</span>
											</div>
										</div>

										<div class="profile-info-row">

											<div class="profile-info-value">
												<span class="editable" id="hora">...</span>
											</div>
										</div>

										<div class="profile-info-row">

											<div class="profile-info-value">
												<span class="editable" id="forma">...</span>
											</div>
										</div>
									</div>
							</div>
							<div class="col-sm-6">
							<h3 class="bigger-175 green">Preguntas Tema 2:</h3>
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">

										<div class="profile-info-value">
											<span class="editable" id="preconfirmado_por">...</span>
										</div>
									</div>

									<div class="profile-info-row">

										<div class="profile-info-value">
											<span class="editable" id="hora2">...</span>
										</div>
									</div>

									<div class="profile-info-row">

										<div class="profile-info-value">
											<span class="editable" id="forma2">...</span>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-6">
							<h3 class="bigger-175 green">Hora LLegada:</h3>
									<div class="profile-user-info profile-user-info-striped">
										<div class="profile-info-row">
											<div class="profile-info-name"> Hora de Llegada: </div>
												<div class="profile-info-value">
													<span class="editable" id="contactado_por">12:00</span>
												</div>
											</div>
									</div>
							</div>
							<div class="col-sm-6">
							<h3 class="bigger-175 green">Tiempo Entrevista:</h3>
								<div class="profile-user-info profile-user-info-striped">
									<div class="profile-info-row">
										<div class="profile-info-name"> Tiempo de Entrevista: </div>
											<div class="profile-info-value">
												<span class="editable" id="hora">De ... a ...</span>
											</div>
										</div>
									</div>
							</div>
						</div>
							<div class="row">
								<div class="col-sm-6">
								<h3 class="bigger-175 green">Director del Programa:</h3>
										<div class="profile-user-info profile-user-info-striped">
											<div class="profile-info-row">
												<div class="profile-info-name"> Director: </div>
													<div class="profile-info-value">
														<span class="editable" id="contactado_por">Nombre</span>
													</div>
												</div>
										</div>
								</div>
								<div class="col-sm-6">
								<h3 class="bigger-175 green">Conducción de Entrevista:</h3>
									<div class="profile-user-info profile-user-info-striped">
										<div class="profile-info-row">
											<div class="profile-info-name"> Conducción: </div>
												<div class="profile-info-value">
													<span class="editable" id="hora">Nombre</span>
												</div>
											</div>
										</div>
								</div>
						</div>
							<div class="row">
								<div class="col-sm-3">
								<h3 class="bigger-175 green">Ayúdenos a Mejorar:  Qué le pareció la Entrevista?:</h3>
									<span class="help-inline col-xs-12 col-sm-7">
										<label class="middle">
											<input class="ace" type="checkbox" id="id-disable-check" />
											<span class="lbl"> Mala</span>
										</label>
									</span>
								</div>
								<div class="col-sm-3">
									<span class="help-inline col-xs-12 col-sm-7">
										<label class="middle">
											<input class="ace" type="checkbox" id="id-disable-check" />
											<span class="lbl"> Regular</span>
										</label>
									</span>
								</div>
								<div class="col-sm-3">
									<span class="help-inline col-xs-12 col-sm-7">
										<label class="middle">
											<input class="ace" type="checkbox" id="id-disable-check" />
											<span class="lbl"> Buena</span>
										</label>
									</span>
								</div>
								<div class="col-sm-3">
									<span class="help-inline col-xs-12 col-sm-7">
										<label class="middle">
											<input class="ace" type="checkbox" id="id-disable-check" />
											<span class="lbl"> Muy Buena</span>
										</label>
									</span>
								</div>
							</div>
					</div>
					<div  ng-show="isSet(3)">
						<p>postentrevistas</p>
					</div>
				</div>
			</div>
		</div><!-- /.Fin de los Items  -->
	</div><!-- /.widget-main -->
</div><!-- /.page-header -->
