<div class="main-content">	
	<div class="main-content-inner">
	    <div class="breadcrumbs" id="breadcrumbs">
			<script type="text/javascript">
				try{ace.settings.check('breadcrumbs' , 'fixed')}catch(e){}
			</script>

			<ul class="breadcrumb">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
					<a href="#/">Inicio</a>
				</li>

				<li class="active">Rol Pagos</li>
				<li class="active">Ingresar</li>
			</ul>

			<div class="nav-search" id="nav-search">
				<form class="form-search">
					<span class="input-icon">
						<input type="text" placeholder="Buscar ..." class="nav-search-input" id="nav-search-input" autocomplete="off" />
						<i class="ace-icon fa fa-search nav-search-icon"></i>
					</span>
				</form>
			</div>
		</div>

	    <div class="page-content">
			<div class="row">
				<div class="col-xs-12">
					<div class="space"></div>
					<div class="tabbable">
						<ul class="nav nav-tabs padding-16">
							<li ng-class="{ active: isSet(1) }">
								<a data-toggle="tab" href ng-click="setTab(1)">
									<i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
									ROL DE PAGOS INDIVIDUAL
								</a>
							</li>

							<li ng-class="{ active: isSet(2) }">
								<a data-toggle="tab" href ng-click="setTab(2)">
									<i class="purple ace-icon fa fa-search bigger-125"></i>
									CONSULTA ROLES
								</a>
							</li>

							<li ng-class="{ active: isSet(3) }">
								<a data-toggle="tab" href ng-click="setTab(3)">
									<i class="green ace-icon fa fa-money bigger-125"></i>
									ANTICIPOS
								</a>
							</li>

							<li ng-class="{ active: isSet(4) }">
								<a data-toggle="tab" href ng-click="setTab(4)">
									<i class="green ace-icon fa fa-pencil-square-o bigger-125"></i>
									PERMISOS
								</a>
							</li>
						</ul>

						<div class="tab-content profile-edit-tab-content" >
							<div ng-show="isSet(1)">
								<form class="form-horizontal" name="form_roles" id="form_roles">
									<div class="row">
										&nbsp; &nbsp;
										<div class="col-sm-12">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="codigo">Código Rol:</label>
													<div class="col-sm-6">
														<input type="text" name="codigo" id="codigo" class="form-control" placeholder="Código Rol" />
														<input type="hidden" name="codigo_general" id="codigo_general" readonly class="col-xs-12 col-sm-10" />
														<input type="hidden" name="id_empleado" id="id_empleado" class="form-control" />
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="sueldo">Sueldo:</label>
													<div class="col-sm-6">
														<input type="text" name="sueldo" id="sueldo" placeholder="" value="0.000" class="form-control" readonly />
													</div>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="identificacion">Identificación:</label>
													<div class="col-sm-6">
														<input type="text" name="identificacion" id="identificacion" class="form-control" placeholder="Identificación" />
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_cargo">Cargo:</label>
													<div class="col-sm-6">
														<input type="text" name="cargo" id="cargo" readonly placeholder="Cargo" class="form-control" />
													</div>
												</div>												
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="nombres_completos">Nombres Completos:</label>
													<div class="col-sm-8">
														<input type="text" name="nombres_completos" id="nombres_completos" class="form-control" placeholder="Nombres Completos" />
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="txt_mes">Fecha Rol:</label>
													<div class="col-sm-6">
														<div class="input-group">
															<input type="text" id="txt_mes" name="txt_mes" class="form-control datepicker" />
															<span class="input-group-addon">
																<i class="ace-icon fa fa-calendar"></i>
															</span>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>

									<h4 class="header blue bolder smaller center"></h4>

									<div class="row">
										<div class="col-sm-12">
											<div class="col-sm-3">
												<div class="form-group">
													<label class="col-sm-6 control-label no-padding-right" for="tiempo_horas">Horas Diarias:</label>
													<div class="col-sm-6">
														<input type="text" name="tiempo_horas" id="tiempo_horas" class="form-control" readonly />
													</div>
												</div>
											</div>

											<div class="col-sm-3">
												<div class="form-group">
													<label class="col-sm-6 control-label no-padding-right" for="dias_laborados">Días Laborados:</label>
													<div class="col-sm-6">
														<input type="text" name="dias_laborados" id="dias_laborados" readonly class="form-control"/>
													</div>
												</div>
											</div>

											<div class="col-sm-3">
												<div class="form-group">
													<label class="col-sm-6 control-label no-padding-right" for="no_laborado">Días no Laborados:</label>
													<div class="col-sm-6">
														<input type="text" name="no_laborado" id="no_laborado" class="form-control"/>
													</div>
												</div>
											</div>

											<div class="col-sm-3">
												<div class="form-group">
													<label class="col-sm-6 control-label no-padding-right" for="extras">Horas Extras:</label>
													<div class="col-sm-6">
														<input type="text" name="extras" id="extras" class="form-control"/>
													</div>
												</div>
											</div>
										</div>

										<div class="col-sm-12">
											<div class="col-sm-4">
												<h4 class="header blue bolder smaller center">INGRESOS</h4>
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="sueldo_basico">Sueldo Mes:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="sueldo_basico" name="sueldo_basico" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="horas_extras">Horas Extras:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="horas_extras" name="horas_extras" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="comisiones">Comisiones:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="comisiones" name="comisiones" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="decimo_tercero">Décimo Tercero:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="decimo_tercero" name="decimo_tercero" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="decimo_cuarto">Décimo Cuarto:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="decimo_cuarto" name="decimo_cuarto" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="total_ingresos">Total Ingresos:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="total_ingresos" name="total_ingresos" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>
											</div>

											<div class="col-xs-12 col-sm-3 center">
											<h4 class="header blue bolder smaller center"></h4>
												<div>
													<span class="profile-picture">
														<img id="avatar" class="editable img-responsive" alt="Alex's Avatar" src="dist/avatars/profile-pic.jpg" />
													</span>
												</div>
											</div>

											<div class="col-sm-5">
												<h4 class="header blue bolder smaller center">DESCUENTOS</h4>
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="aporte_iess">Aporte al IESS:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="aporte_iess" name="aporte_iess" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="pres_quierografarios">Préstamos quirografarios:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="pres_quirografarios" name="pres_quirografarios" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="pres_anticipos">Préstamos y Anticipos:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="pres_anticipos" name="pres_anticipos" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="atrasos">Atrasos:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="atrasos" name="atrasos" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="permisos">Permisos:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="permisos" name="permisos" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="faltas">Faltas:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="faltas" name="faltas" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="total_descuentos">Total Descuentos:</label>
													<div class="col-sm-8">
														<span class="input-icon">
															<input type="text" id="total_descuentos" name="total_descuentos" class="form-control" value="0.000"/>
															<i class="ace-icon fa fa fa-usd orange"></i>
														</span>
													</div>
												</div>	
											</div>

											<div class="col-sm-12">
												<div class="col-sm-3"></div>
												<div class="col-sm-6">
													<div class="form-group">
														<label class="col-sm-4 control-label no-padding-right" for="neto_pagar">Neto a Pagar:</label>
														<div class="col-sm-8">
															<span class="input-icon">
																<input type="text" id="neto_pagar" name="neto_pagar" class="form-control" value="0.000"/>
																<i class="ace-icon fa fa fa-usd orange"></i>
															</span>
														</div>
													</div>	
												</div>
												<div class="col-sm-3"></div>
											</div>

											<div class="col-sm-12">
												<div class="clearfix form-actions center">
													<div class="col-md-12">
														<button class="btn btn-success" type="button" name="btn_guardar_rol" id="btn_guardar_rol">
															<i class="ace-icon fa fa-save bigger-110"></i>
															Guardar Roles
														</button>

														&nbsp; &nbsp;
														<button class="btn btn-success" type="button" name="btn_buscar" id="btn_buscar" data-toggle="modal" href="#myModal">
															<i class="ace-icon fa fa-search bigger-110"></i>
															Buscar
														</button>

														&nbsp; &nbsp;
														<button class="btn btn-success" type="button" name="btn_calcular" id="btn_calcular">
															<i class="ace-icon fa fa-calculator bigger-110"></i>
															Calcular
														</button>

														&nbsp; &nbsp;
														<button class="btn btn-success" type="button" name="btn_anticipos" id="btn_anticipos" data-toggle="modal" href="#myModal2">
															<i class="ace-icon fa fa-money bigger-110"></i>
															Anticipos
														</button>

														&nbsp; &nbsp;
														<button class="btn btn-success" type="button" name="btn_permisos" id="btn_permisos" data-toggle="modal" href="#myModal3">
															<i class="ace-icon fa fa-calendar bigger-110"></i>
															Permisos
														</button>

														&nbsp; &nbsp;
														<button class="btn btn-success" type="button" name="btn_1" id="btn_1">
															<i class="ace-icon fa fa-refresh bigger-110"></i>
															Actualizar
														</button>
													</div>
												</div>
											</div>
										</div>	
									</div>
								</form>
							</div>

							<div ng-show="isSet(2)">
								<form class="form-horizontal" name="form_consultas" id="form_consultas">
									<div class="row">
										&nbsp; &nbsp;
										<div class="col-sm-12">
											<div class="col-sm-3">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_empleado1">EMPLEADO:</label>
													<div class="col-sm-8">
														<select id="select_empleado1" name="select_empleado1" class="select2" data-placeholder="Empleado busqueda rol...">
															<option value="">&nbsp;</option>
														</select>
													</div>
												</div>
											</div>

											<div class="col-sm-3">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="fecha_inicio">FECHA INICIO:</label>
													<div class="col-sm-6">
														<div class="input-group">
															<input type="text" id="fecha_inicio" name="fecha_inicio" class="form-control datepicker" />
															<span class="input-group-addon">
																<i class="ace-icon fa fa-calendar"></i>
															</span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-sm-3">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="fecha_fin">FECHA FIN:</label>
													<div class="col-sm-6">
														<div class="input-group">
															<input type="text" id="fecha_fin" name="fecha_fin" class="form-control datepicker" />
															<span class="input-group-addon">
																<i class="ace-icon fa fa-calendar"></i>
															</span>
														</div>
													</div>
												</div>
											</div>

											<div class="col-sm-1">
												<div class="form-group">
													<button class="btn btn-purple btn-sm blue" id="btn_filtrar" name="btn_filtrar" type="button"><i class="ace-icon fa fa-calendar"></i> FILTRAR</button>
												</div>
											</div>
											<div class="col-sm-1">
												<div class="form-group">
													<button class="btn btn-purple btn-sm blue" id="btn_limpiar" name="btn_limpiar" type="button"><i class="ace-icon fa fa-search-plus"></i> LIMPIAR</button>
												</div>
											</div>

											<div class="col-sm-1">
												<div class="form-group">
													<button class="btn btn-purple btn-sm blue" id="btn_excel" name="btn_excel" type="button"><i class="ace-icon fa fa-file-excel-o"></i> EXCEL</button>
												</div>
											</div>
										</div>

										<div class="col-sm-12">
											<h4 class="header blue bolder smaller center"></h4>
											<div id="container">
												<table id="table"></table>
												<div id="pager"></div>	
											</div>
										</div>	
									</div>
								</form>
							</div>

							<div ng-show="isSet(3)">
								<form class="form-horizontal" name="form_anticipos" id="form_anticipos">
									<div class="row">
										&nbsp; &nbsp;
										<div class="col-sm-12">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Serie Anticipo:</label>
													<div class="col-sm-6">
														<input type="text" name="serie_anticipo" id="serie_anticipo" class="form-control" />
														<input type="hidden" name="id_anticipo" id="id_anticipo" readonly class="col-xs-12 col-sm-10" />
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Fecha Anticipo:</label>
													<div class="col-sm-6">
														<div class="input-group">
															<input type="text" id="fecha_anticipo" name="fecha_anticipo" class="form-control datepicker" />
															<span class="input-group-addon">
																<i class="ace-icon fa fa-calendar"></i>
															</span>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Cheque N°:</label>
													<div class="col-xs-12 col-sm-6">
														<div class="clearfix">
															<input type="text" name="cheque_numero" id="cheque_numero" class="form-control" />
														</div>
													</div>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_empleado2">Empleado:</label>
													<div class="col-sm-8">
														<select id="select_empleado2" name="select_empleado2" class="select2" data-placeholder="Empleado anticipos...">
															<option value="">&nbsp;</option>
														</select>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Meses Anticipo:</label>
													<div class="col-xs-12 col-sm-6">
														<div class="clearfix">
															<input type="text" name="meses_anticipo" id="meses_anticipo" class="form-control" />
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_banco">Banco:</label>
													<div class="col-sm-6">
														<select id="select_banco" name="select_banco" class="select2" data-placeholder="Banco...">
															<option value="">&nbsp;</option>	
														</select>
													</div>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Monto Anticipo:</label>
													<div class="col-xs-12 col-sm-6">
														<div class="clearfix">
															<input type="text" name="monto_anticipo" id="monto_anticipo" value="0.000" class="form-control" />
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_forma_pago">Forma Pago:</label>
													<div class="col-sm-6">
														<select id="select_forma_pago" name="select_forma_pago" class="select2" data-placeholder="Seleccione forma pago...">
															<option value="">&nbsp;</option>
															<option value="EFECTIVO">EFECTIVO</option>
															<option value="CHEQUE">CHEQUE</option>
															<option value="TARJETA">TARJETA</option>
															<option value="DEPÓSITO">DEPÓSITO</option>
															<option value="TRANSFERENCIA">TRANSFERENCIA</option>
														</select>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Cuenta:</label>
													<div class="col-xs-12 col-sm-6">
														<div class="clearfix">
															<input type="text" name="cuenta" id="cuenta" class="form-control" />
														</div>
													</div>
												</div>
											</div>
										</div>

										<div class="col-sm-12">
											<div class="clearfix form-actions center">
												<div class="col-md-offset-3 col-md-6">
													<button class="btn btn-success" type="button" name="btn_2" id="btn_guardar_anticipo">
														<i class="ace-icon fa fa-save bigger-110"></i>
														Guardar Anticipos
													</button>

													&nbsp; &nbsp;
													<button class="btn btn-success" type="button" name="btn_3" id="btn_3">
														<i class="ace-icon fa fa-refresh bigger-110"></i>
														Actualizar
													</button>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>

							<div ng-show="isSet(4)">
								<form class="form-horizontal" name="form_permisos" id="form_permisos">
									<div class="row">
										&nbsp; &nbsp;
										<div class="col-sm-12">
											<div class="col-sm-4">
												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Serie Permiso:</label>
													<div class="col-sm-6">
														<input type="text" name="serie_permiso" id="serie_permiso" class="form-control" />
														<input type="hidden" name="id_permiso" id="id_permiso" readonly class="col-xs-12 col-sm-10" />
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_empleado3">Empleado:</label>
													<div class="col-sm-8">
														<select id="select_empleado3" name="select_empleado3" class="select2" data-placeholder="Empleado permisos...">
															<option value="">&nbsp;</option>
														</select>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Días:</label>
													<div class="col-xs-12 col-sm-6">
														<div class="clearfix">
															<input type="text" name="dias" id="dias" class="form-control" />
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Hora de Retorno:</label>
													<div class="col-xs-12 col-sm-6">
														<div class="clearfix">
															<input type="text" name="hora_retorno" id="hora_retorno" class="form-control" />
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Lugar:</label>
													<div class="col-xs-12 col-sm-6">
														<div class="clearfix">
															<input type="text" name="lugar" id="lugar" class="form-control" />
														</div>
													</div>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Ciudad:</label>
													<div class="col-xs-12 col-sm-6">
														<div class="clearfix">
															<input type="text" name="ciudad" id="ciudad" value="" class="form-control" />
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_empleado4">Dirigido:</label>
													<div class="col-sm-8">
														<select id="select_empleado4" name="select_empleado4" class="select2" data-placeholder="Permiso dirigido...">
															<option value="">&nbsp;</option>
														</select>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Hora de Salida:</label>
													<div class="col-xs-12 col-sm-6">
														<div class="clearfix">
															<input type="text" name="hora_salida" id="hora_salida" class="form-control" />
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Tiempo de Salida:</label>
													<div class="col-xs-12 col-sm-6">
														<div class="clearfix">
															<input type="text" name="tiempo_salida" id="tiempo_salida" class="form-control" />
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_parte">Parte de:</label>
													<div class="col-sm-6">
														<select id="select_parte" name="select_parte" class="select2" data-placeholder="Por parte de...">
															<option value="">&nbsp;</option>
															<option value="COMISIÓN OFICIAL">COMISIÓN OFICIAL</option>
															<option value="ASUNTO PARTICULAR">ASUNTO PARTICULAR</option>
														</select>
													</div>
												</div>
											</div>

											<div class="col-sm-4">
												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Fecha Permiso:</label>
													<div class="col-sm-6">
														<div class="input-group">
															<input type="text" id="fecha_permiso" name="fecha_permiso" class="form-control datepicker" />
															<span class="input-group-addon">
																<i class="ace-icon fa fa-calendar"></i>
															</span>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Horas:</label>
													<div class="col-xs-12 col-sm-6">
														<div class="clearfix">
															<input type="text" name="horas" id="horas" class="form-control" />
														</div>
													</div>
												</div>
												

												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">¿Regresó?</label>
													<div class="col-xs-12 col-sm-7">
														<div class="clearfix">
															<label>
																<input name="regreso" id="regreso" class="ace ace-switch ace-switch-5" type="checkbox" checked>
																<span class="lbl"></span>
															</label>
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="control-label col-xs-12 col-sm-4 no-padding-right">Asunto:</label>
													<div class="col-xs-12 col-sm-6">
														<div class="clearfix">
															<input type="text" name="asunto" id="asunto" class="form-control" />
														</div>
													</div>
												</div>

												<div class="form-group">
													<label class="col-sm-4 control-label no-padding-right" for="select_motivo_cargos">Cargos a:</label>
													<div class="col-sm-6">
														<select id="select_motivo_cargos" name="select_motivo_cargos" class="select2" data-placeholder="Con cargos a...">
															<option value="">&nbsp;</option>
															<option value="DESCUENTOS">DESCUENTOS</option>
															<option value="VACACIONES">VACACIONES</option>
															<option value="NINGUNO">NINGUNO</option>
														</select>
													</div>
												</div>
											</div>
										</div>

										<div class="col-sm-12">
											<div class="clearfix form-actions center">
												<div class="col-md-offset-3 col-md-6">
													<button class="btn btn-success" type="button" name="btn_guardar_permiso" id="btn_guardar_permiso">
														<i class="ace-icon fa fa-save bigger-110"></i>
														Guardar Permisos
													</button>

													&nbsp; &nbsp;
													<button class="btn btn-success" type="button" name="btn_5" id="btn_5">
														<i class="ace-icon fa fa-refresh bigger-110"></i>
														Actualizar
													</button>
												</div>
											</div>
										</div>
									</div>	
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>	

<div id="modal-importar" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<form method="POST" name="form_excel" id="form_excel">
				<div class="modal-header no-padding">
					<div class="table-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							<span class="white">&times;</span>
						</button>
						Agregar Archivo CSV
					</div>
				</div>
				<div class="modal-body">
					<div class="row">
						<div class="col-sm-12">
							<div class="form-group">
								<div class="form-group">
				                  <input type="file" id="archivo_excel" name="archivo_excel" class="file" />
				                </div>
							</div>
						</div>
					</div>
				</div>
				
				<div class="modal-footer no-margin-top">
					<button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
						<i class="ace-icon fa fa-times"></i>
						Cerrar
					</button>
					<button name="btn_excel" id="btn_excel" class="btn btn-sm btn-success pull-right">
						<i class="ace-icon fa fa-check"></i>
						Cargar
					</button>
				</div>
			</form>	
		</div>
	</div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">BUSCAR PERSONAL</h4>
        </div>
        <div class="modal-body">
            <table id="table2"></table>
			<div id="pager2"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-success" data-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal2">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">BUSCAR ANTICIPOS</h4>
        </div>
        <div class="modal-body">
            <table id="table3"></table>
			<div id="pager3"></div>
        </div>
        <div class="modal-footer no-margin-top">
			<button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
				<i class="ace-icon fa fa-times"></i>
				Cerrar
			</button>
			<button name="btn_calcular_anticipos" id="btn_calcular_anticipos" class="btn btn-sm btn-success pull-right">
				<i class="ace-icon fa fa-check"></i>
				Cargar
			</button>
		</div>
      </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" id="myModal3">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title">BUSCAR PERMISOS</h4>
        </div>
        <div class="modal-body">
            <table id="table4"></table>
			<div id="pager4"></div>
        </div>
        <div class="modal-footer no-margin-top">
			<button class="btn btn-sm btn-danger pull-left" data-dismiss="modal">
				<i class="ace-icon fa fa-times"></i>
				Cerrar
			</button>
			<button name="btn_calcular_permisos" id="btn_calcular_permisos" class="btn btn-sm btn-success pull-right">
				<i class="ace-icon fa fa-check"></i>
				Cargar
			</button>
		</div>
      </div>
    </div>
</div>

<div id="modal-anticipos" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header no-padding">
				<div class="table-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<span class="white">&times;</span>
					</button>
					ANTICIPO AL PAGO
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box transparent">
							<div class="widget-header widget-header-large">
								<h3 class="widget-title green lighter">
									<i class="ace-icon fa fa-music green"></i>
									OYEFM
								</h3>

								<div class="widget-toolbar no-border invoice-info">
									<h4><span class="red" id='serie'></span></h4>

									<span class="invoice-info-label">Fecha:</span>
									<span class="blue" id='fecha'></span>
								</div>

								<div class="widget-toolbar hidden-480">
									<a href="">
									</a>
								</div>
							</div>
							&nbsp;

							<div class="col-xs-12">
								<div class="col-xs-8">
									<p align="justify">Yo <b id='nombres'></b> con C.C. N° <b id='cedula'></b>, que me desempeño como <b id='cargo_anticipo'></b>, solicito, se me conceda un anticipo a mi remuneración por el monto de <b id='monto'></b>, para un periodo de <b id='mes_anticipo'></b> mes(es); y autorizo para que en la liquidación de mis haberes en caso de separación definitiva, se incluyan en los saldos pendientes de pago originados como anticipos recibidos.</p>
								</div>

								<div class="col-xs-4">
									<h5>Recibir: <span class="red" id="total_monto"><i class="ace-icon fa fa-usd icon-animated-hand-pointer"></i></span></h5>

									<div class="checkbox">
										<label>
											<input name="check_efectivo" id="check_efectivo" type="checkbox" class="ace ace-checkbox-2" />
											<span class="lbl"> EFECTIVO</span>
										</label>
									</div>

									<div class="checkbox">
										<label>
											<input name="check_cheque" id="check_cheque" type="checkbox" class="ace ace-checkbox-2" />
											<span class="lbl"> CHEQUE</span>
										</label>
									</div>

									<div class="checkbox">
										<label>
											<input name="check_tarjeta" id="check_tarjeta" type="checkbox" class="ace ace-checkbox-2" />
											<span class="lbl"> TARJETA</span>
										</label>
									</div>

									<div class="checkbox">
										<label>
											<input name="check_deposito" id="check_deposito" type="checkbox" class="ace ace-checkbox-2" />
											<span class="lbl"> DEPÓSITO</span>
										</label>
									</div>

									<div class="checkbox">
										<label>
											<input name="check_tranferencia" id="check_tranferencia" type="checkbox" class="ace ace-checkbox-2" />
											<span class="lbl"> TRANSFERENCIA</span>
										</label>
									</div>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="col-xs-4">
									<p>CHEQUE N°:</p>
									<p id="cheque_anticipo"></p>
								</div>

								<div class="col-xs-4">
									<p>BANCO:</p>
									<p id="banco_anticipo"></p>
								</div>

								<div class="col-xs-4">
									<p>CUENTA:</p>
									<p id="cuenta_anticipo"></p>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="hr hr8 hr-double hr-dotted"></div>
								<div class="col-xs-4">
									<p>ELABORADO</p>
									<p id="elaborado_por"></p>
									<p id="ci_elaborado"></p>
								</div>

								<div class="col-xs-4">
									<p>APROBADO</p>
									<p></p>
									<p>C.I.</p>
								</div>

								<div class="col-xs-4">
									<p>SOLICITANTE</p>
									<p id="solicitado_por"></p>
									<p id="ci_solicitado"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="modal-permisos" class="modal fade" tabindex="-1">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header no-padding">
				<div class="table-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
						<span class="white">&times;</span>
					</button>
					PERMISO DE SALIDA TEMPORAL
				</div>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="col-xs-12">
						<div class="widget-box transparent">
							<div class="widget-header widget-header-large">
								<h3 class="widget-title green lighter">
									<i class="ace-icon fa fa-music green"></i>
									OYEFM
								</h3>

								<div class="widget-toolbar no-border invoice-info">
									<h4><span class="red" id='p_serie_permiso'></span></h4>

									<span class="invoice-info-label">Fecha:</span>
									<span class="blue" id='p_permiso'></span>
								</div>

								<div class="widget-toolbar hidden-480">
									<a href="">
									</a>
								</div>
							</div>
							&nbsp;

							<div class="col-xs-12">
								<p>Me dirijo a Usted: <b id="p_dirigido"></b>	</p>
								<p>Yo, <b id="p_yo"></b> ,solicito de usted, para ausentarme de mis labores cotidianas, durante: <b id="p_horas"></b> Horas <b id="p_dias"></b> Día(s).</p>
							</div>

							<div class="col-xs-12">
								<div class="hr hr8 hr-dotted"></div>
								<div class="col-xs-3">
									<p>HORA SALIDA</p>
									<b id="b_hora_salida"></b>
								</div>

								<div class="col-xs-2">
									<p>¿REGRESÓ?</p>
									<b id="b_regreso"></b>
									<div class="clearfix">
										<label>
											<input name="p_regreso" id="p_regreso" class="ace ace-switch ace-switch-5" type="checkbox" checked>
											<span class="lbl"></span>
										</label>
									</div>
								</div>

								<div class="col-xs-3">
									<p>HORA RETORNO</p>
									<b id="p_retorno"></b>
								</div>

								<div class="col-xs-4">
									<p>TIEMPO SALIDA</p>
									<b id="p_tiempo_salida"></b>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="col-xs-6">
									<p>Asunto: <b id="p_asunto"></b></p>	
								</div>

								<div class="col-xs-6">
									<p>Lugar: <b id="p_lugar"></b></p>		
								</div>
							</div>

							<div class="col-xs-12">
								<div class="hr hr8 hr-dotted"></div>
								<div class="col-xs-6">
									<p align="center">POR PARTE DE:</p>
									<div class="checkbox">
										<label>
											<input name="check_comision_oficial" id="check_comision_oficial" type="checkbox" class="ace ace-checkbox-2" />
											<span class="lbl"> COMISIÓN OFICIAL</span>
										</label>
									</div>
									<div class="checkbox">
										<label>
											<input name="check_asunto_particular" id="check_asunto_particular" type="checkbox" class="ace ace-checkbox-2" />
											<span class="lbl"> ASUNTO PARTICULAR</span>
										</label>
									</div>
								</div>

								<div class="col-xs-6">
									<p align="center">CON CARGOS A:</p>
									<div class="checkbox">
										<label>
											<input name="check_descuentos" id="check_descuentos" type="checkbox" class="ace ace-checkbox-2" />
											<span class="lbl"> DESCUENTOS</span>
										</label>
									</div>

									<div class="checkbox">
										<label>
											<input name="check_vacaciones" id="check_vacaciones" type="checkbox" class="ace ace-checkbox-2" />
											<span class="lbl"> VACACIONES</span>
										</label>
									</div>

									<div class="checkbox">
										<label>
											<input name="check_ninguno" id="check_ninguno" type="checkbox" class="ace ace-checkbox-2" />
											<span class="lbl"> NINGUNO</span>
										</label>
									</div>
								</div>
							</div>

							<div class="col-xs-12">
								<div class="hr hr8 hr-double hr-dotted"></div>
								<div class="col-xs-4">
									<p>SOLICITANTE</p>
									<p id="p_solicitante"></p>
									<p id="p_cedula"></p>
								</div>

								<div class="col-xs-4">
									<p>JEFE PERSONAL</p>
									<!-- <p></p>
									<p>C.I.</p> -->
								</div>

								<div class="col-xs-4">
									<p>TALENTO HUMANO</p>
									<p id="p_talento"></p>
									<p id="p_cedula_talento"></p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

